.title{
  color: white;
  font-size: 150%;
  text-align: center;
  text
  background-position: center;
  background-size: 150%;
  background-repeat: repeat;
  background-image: url("https://cdn3.volusion.com/9xeqe.ayzy4/v/vspfiles/photos/WP21001-2.jpg");
  height: 120px;
}
